%table
  %tr
    %td
      =link_to root_path do
        Logo!
    -if logined?
      %td
        =link_to 'docs', metadocs_path
        |
        =link_to 'new', new_metadoc_path
    %td
      =form_tag metadocs_path, :method=>:get do
        =text_field_tag :query, params[:query]||'', :placeholder=>'Search...'
        =image_submit_tag '/images/icon_search.png'
    %td
      %table
        %tr
          -if logined?
            %td
              =link_to my_path do
                %span= current_user.nickname
            %td=link_to 'Sign Out', auth_signout_path, :method=>:delete
          -else
            %td= link_to 'Sign In', auth_signin_path
            %td= link_to 'Quick Try', auth_quickin_path
            %td= link_to 'Join', auth_signup_path
    %td
      %a{:href=>"javascript:(function(){f='#{quick_add_metadocs_url}?doc[from_url]='+encodeURIComponent(window.location.href)+'&amp;doc[title]='+encodeURIComponent(document.title)+'&amp;doc[content]='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&amp;';a=function(){if(!window.open(f+'noui=1','shareupuiv1','location=2,links=0,scrollbars=1,toolbar=0,width=660,height=380'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()", :title=>"Collect to my doc repos", :class=>"bookmarklet"}
        Favor this
      |
      %a{:href => "http://sjm.com:3000/metadocs.rss", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}
        RSS
    %td.notice_msg
      =flash[:notice]
