= form_for @metadoc do |f|
  -if @metadoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@metadoc.errors.count, "error")} prohibited this metadoc from being saved:"
      %ul
        - @metadoc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :from_url
    = f.text_field :from_url
  .field
    = f.label :from_mark
    = f.text_field :from_mark
  .field
    = f.label :collect_at
    = f.datetime_select :collect_at
  .field
    = f.label :public
    = f.check_box :public
  .field
    = f.label :comment
    = f.text_field :comment
  .actions
    = f.submit 'Save'
