-content_for :header do
  = stylesheet_link_tag "/plugins/colorbox/colorbox.css"
  = javascript_include_tag "/plugins/colorbox/jquery.colorbox.js"
  -#TODO move into coffee to protect source code! If so, how to ref instance variable
  :javascript
    $(function(){
      //focus from url if new record?
      if("#{@metadoc.new_record?}" == "true" && $("#metadoc_from_url").val().trim().lenght==0){
        $("#metadoc_from_url").focus()
      }else{
        $("#metadoc_content").focus()
      }

      //Extract html document meta-data 
      $("#extract_from_url").click(function(){
        if($("#metadoc_title").val().trim().length != 0){
          if(!confirm("Title has existed, overwrite it?")){
            return false
          }
        }
        //send a ajax request
        $.get("#{extract_metadocs_path}", {doc_url: $('#metadoc_from_url').val().trim()}, function(data){
          $("#metadoc_title").val(data.title)
          $("#metadoc_content").val(data.abstract)
          $(".notice_msg").html("Load successfully!")
        })
        return false
      })

      //Browse inline
      $("#browse_inline_from_url_iframe").click(function(){
        from_url = $("#metadoc_from_url").val().trim()
        if(from_url.trim().length==0){
          $(".notice_msg").html('No from url now!')
          $("#metadoc_from_url").focus()
          return false
        }else{
          $(".notice_msg").html('')
        }
        $("#from_url_iframe_ele").attr("src", from_url)
        $("#inline_iframe_wrapper").show()
        return false
      })
      //close browse inline
      $("#close_inline_iframe").click(function(){
        $("#inline_iframe_wrapper").hide()
        return false
      })

      //Popup iframe
      $("#popup_from_url_iframe").click(function(){
        $(this).attr('href', $("#metadoc_from_url").val().trim())
        //$(this).colorbox({iframe:true, width:"80%", height:"80%"})
        //return false
      }).colorbox({iframe:true, width:"80%", height:"85%"})

      //New tab 
      $("#new_tab_from_url").click(function(){
        $(this).attr('href', $("#metadoc_from_url").val().trim())
      })

      //Shot the url
      $("#shot_from_url").click(function(){
        $.get("#{shot_metadocs_path}", {doc_url: $('#metadoc_from_url').val().trim()}, function(data){
          $(".notice_msg").html(data.msg)
        })
        return false
      })
    })

= form_for @metadoc do |f|
  -if @metadoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@metadoc.errors.count, "error")} prohibited this metadoc from being saved:"
      %ul
        - @metadoc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_url, 'From'
    = f.text_field :from_url, :placeholder=>"Input your favorite url here!"
    =link_to "Extract", "#", :id=>'extract_from_url'
    | 
    =link_to "Browse Inline", "javascript:void(0);", :id=>'browse_inline_from_url_iframe'
    | 
    =link_to "Popup", "#", :id=>'popup_from_url_iframe'
    | 
    =link_to "New Tab", "#", :id=>'new_tab_from_url', :target=>'_blank'
    | 
    =link_to "Shot", "#", :id=>'shot_from_url'
    = f.check_box :public
    = f.label :public
  .field
    #inline_iframe_wrapper.hidden
      %div=link_to "Close Me", "#", :id=>"close_inline_iframe"
      %iframe{:id=>'from_url_iframe_ele', :width=>'70%', :height=>'200px;', :frameborder=>1}
  .field
    = f.label :title
    = f.text_field :title
    = f.label :tags
    = f.text_field :tags, :size=>20
  .field
    = f.text_area :content, :placeholder=>'Content...', :rows=>8, :cols=>51
  -#.field
    = f.label :comment
    = f.text_field :comment
  .actions
    = f.submit 'Save'
    = link_to "Cancel", metadocs_path, :params=>params
