-content_for :header do
  = stylesheet_link_tag "/plugins/colorbox/colorbox.css"
  = javascript_include_tag "/plugins/colorbox/jquery.colorbox.js"
  :javascript
    $(function(){
      $(".view_shot").colorbox({iframe:true, width:"80%", height:"98%"})
    })
#doc_items
  #item_list
    %table
      - @metadocs.each do |metadoc|
        %tr{:id=>"item_#{metadoc.id}_head"}
          %td
            %p
              -if metadoc.user_id == session[:uid]
                =link_to "I", my_path
                take 
              -else
                =link_to metadoc.nickname, metadocs_path(:query=>metadoc.nickname)
                share
              =link_to highlight(truncate(metadoc.title.titleize, :length=>40), params[:query]), metadoc
              = time_ago_in_words(metadoc.collect_at)
              \&nbsp;ago
        %tr
          %td= highlight(truncate(metadoc.content, :length=>300), params[:query])
        %tr
          %td
            %p
              =link_to truncate(metadoc.from_url, :length=>80), metadoc.from_url, :target=>'_blank' 
              = metadoc.tags
              =link_to "Look shot", view_shot_metadocs_path(:url=>metadoc.from_url), :class=>"view_shot" 
              -if metadoc.user_id == session[:uid]
                = link_to 'Edit', edit_metadoc_path(metadoc)
                = link_to 'Destroy', metadoc, :confirm => 'Are you sure?', :method => :delete
  #item_foot
    %table
      %tr
        %td
          =will_paginate @metadocs
        %td
          \&nbsp;Total:
          =@search.total
