= stylesheet_link_tag "application"
= javascript_include_tag "application"
= stylesheet_link_tag "/plugins/colorbox/colorbox.css"
= javascript_include_tag "/plugins/colorbox/jquery.colorbox.js"
:javascript
  $(function(){
    $("#metadoc_content").focus()
    //Browse inline
    $("#browse_inline_from_url_iframe").click(function(){
      from_url = "#{@metadoc.from_url}"
      $("#from_url_iframe_ele").attr("src", from_url)
      $("#inline_iframe_wrapper").show()
      return false
    })
    //close browse inline
    $("#close_inline_iframe").click(function(){
      $("#inline_iframe_wrapper").hide()
      return false
    })

    //Shot the url
    $("#shot_from_url").click(function(){
      $.get("#{shot_metadocs_path}", {doc_url: $('#metadoc_from_url').val().trim()}, function(data){
        $(".notice_msg").html(data.msg)
      })
      return false
    })

    //submit a form
    $("#_the_form").submit(function(){
      //FIXME HOW TO DYNAMIC USE POST OR PUT
      $.post("#{metadocs_path}.json", $(this).serialize(), function(data){
        //error or ok?
        if(data.status == 'error'){
          $(".notice_msg").html((data.message))
        }else{
          window.opener = null //disable the confirm
          window.close()
        }
      })
      return false 
    })
  })

-#
  -if @metadoc.new_record?
    = form_for @metadoc, :html=>{:id=>"_the_form"} do |f|
  -else
    = form_for @metadoc, :html=>{:id=>"_the_form"} do |f|
= form_for @metadoc, :html=>{:id=>"_the_form"} do |f|
  -if @metadoc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@metadoc.errors.count, "error")} prohibited this metadoc from being saved:"
      %ul
        - @metadoc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_url, 'From:'
    =link_to truncate(@metadoc.from_url, :length=>40), @metadoc.from_url, :title=>@metadoc.title||@metadoc.from_url 
    =f.hidden_field :from_url
    =hidden_field_tag :create_from, 'quick_add'
    \&nbsp;| 
    =link_to "Browse Inline", "javascript:void(0);", :id=>'browse_inline_from_url_iframe'
    | 
    =link_to "Shot", "#", :id=>'shot_from_url'
    = f.check_box :public
    = f.label :public
  .field
    #inline_iframe_wrapper.hidden
      %div=link_to "Close Me", "#", :id=>"close_inline_iframe"
      %iframe{:id=>'from_url_iframe_ele', :width=>'70%', :height=>'200px;', :frameborder=>1}
  .field
    = f.label :title
    = f.text_field :title, :size=>22
    = f.text_field :tags, :size=>8, :placeholder=>"Tags..."
  .field
    = f.text_area :content, :placeholder=>'Note something you want...', :rows=>6, :cols=>32
  .actions
    -if @metadoc.new_record?
      = f.submit 'Save'
    -else
      ACTION_FOR_UPDATE_TODO
    = link_to "Close", "javascript:window.close();", :title=>"Close this window"
  .field.notice_msg
    =flash[:notice]
