!!!
%html
  %head
    %title Share up with everyone, let brains united!
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    =yield :header
  %body
    #topheader= render :partial=>"shared/top_header"
    #board= yield
    #footer= render :partial=>"shared/footer"
